# Ignore virtual environments
venv/
.venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore env files (sensitive)
.env
*.env

# Ignore logs, temp files, etc.
*.log
*.tmp
*.swp

# OS-specific
.DS_Store
Thumbs.db

node_modules/
dist/
build/